<div class="container">
    <div class="row" id="jobList">
        <ul>
            {{#each content}}
            <li class="jumbotron jobs-info">
                <h3><a target="_blank" href="{{this.site}}">{{this.title}}</a></h3>
                <div class="clearfix">
                    <ul class="metaData col-md-6">
                        <li class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{this.location}}</li>
                        <li class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.time}}
                        </li>
                    </ul>
                    <ul class="metaData col-md-6">
                        <li class="salary"><i class="fa fa-money" aria-hidden="true"></i> {{{this.salary}}}</li>
                            <li class="applications"><i class="fa fa-users" aria-hidden="true"></i> {{{this.applications}}}
                            </li>
                    </ul>

                </div>

                <p>{{{this.description}}}</p>
                </li>
                {{/each}}
        </ul>
    </div>
</div>
