<div class="container">

          <nav aria-label="Page navigation">
          <ul class="pagination" id="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each pagination}}
              <li><a href="{{this.url}}">{{this.id}}</a></li>
            {{/each}}
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>


    <div class="row" id="jobList">
        <ul>
            {{#each itemJobs}}
            <li class="jumbotron jobs-info">
                <h3><a target="_blank" href="{{this.site}}">{{this.title}}</a></h3>
                <div class="clearfix">
                    <ul class="metaData col-md-6">
                        <li class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{this.location}}</li>
                        <li class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.time}}
                        </li>
                    </ul>
                    <ul class="metaData col-md-6">
                        <li class="salary"><i class="fa fa-money" aria-hidden="true"></i> {{{this.salary}}}</li>
                            <li class="applications"><i class="fa fa-users" aria-hidden="true"></i> {{{this.applications}}}
                            </li>
                    </ul>

                </div>

                <p>{{{this.description}}}</p>
                </li>
                {{/each}}
        </ul>
    </div>

      <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagination}}
          <li><a href="{{this.url}}">{{this.id}}</a></li>
        {{/each}}
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

</div>
